* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: "Century Gothic", serif;
    font-style: normal;
}

body {
    width: auto;
    min-width: 1080px;
}

#Main, #buttons, #textareas {
    padding: 15px 0;
    min-width: 944px;
    text-align: center;
}

#htmlcode, #wikicode {
    display: inline-block;
    width: 450px;
    resize: vertical;
    stroke: 1px black solid;
}

.red {
    color: #a93333;
}

.firstText {
    font-size: 2em;
    line-height: 1.7em;
}

.secondText {
    font-size: 0.9em;
    line-height: 1em;
}

#buttons {
    padding: 10px 0;
}

.myButton {
    width: 200px;
    background-color: #a93333;
    border: 1px solid #241d13;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 1em;
    font-weight: bold;
    padding: 9px 23px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #9f3030;
}

.myButton:hover {
    background: linear-gradient(to bottom, #a93333, #9f3030);
}

.myButton:active {
    position: relative;
    top: 1px;
}

#editorDiv {
    min-width: 920px;
    padding: 0 80px;
}

#FirstScr, #About {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#FirstScr {
    min-height: 100vh;
    /*max-height: 100vh;*/
}

#cke_editor {
    margin: auto;
}

.nav {
    position: fixed;
    overflow: hidden;
    width: 80px;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    /*background-color: #eeeeee;*/
}

.nav-icon {
    width: 80px;
    height: 80px;
    border-bottom: 1px solid #a93333;
    border-right: 1px solid #a93333;
    background-position: center;
    background-size: cover;
}

.icon-main {
    background-color: #a93333;
    background-image: url("../src/img/nav-main.png");
}

.icon-about {
    background-color: #a93333;
    background-image: url("../src/img/nav-about.png");
}

.nav-icon:hover {
    background-color: #9f3030;
}

#hiddenTextarea {
    position: fixed;
    top: 9000px;
}

#About {
    min-height: 100vh;
    background-color: #9f3030;
    background-image: url("./img/bg.png");
    background-size: cover;
    padding: 0 80px;
}

#aboutMainTitle {
    font-size: 2em;
    text-align: center;
    padding: 50px 0 100px 0;
}

.services-wrap {
    width: 100%;
    display: table;
    padding: 10px 0;
}

.aTitle {
    font-size: 1.5em;
    text-align: center;
}

.aboutTitle {
    font-size: 1.2em;
    padding-bottom: 10px;
    font-weight: 600;
}

.about-item {
    float: left;
    width: 26%;
    padding: 50px 0;
    text-align: center;
}

.about1 {
    /*background: url(./img/s-item1.png) no-repeat center top;*/
    padding-left: 5.5%;
}
.about2 {
    padding-left: 5.5%;
    padding-right: 5.5%;
    /*background: url(./img/s-item2.png) no-repeat center top;*/
}
.about3 {
    padding-right: 5.5%;
    /*background: url(./img/s-item3.png) no-repeat center top;*/
}

.focusSpan {
    color: #9c3328;
}